<div class="lg: w-2/6 p-10 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">Login</h3>
    <form [formGroup]="form" (ngSubmit)="login()"  class="flex flex-col">
        <div class="flex flex-col  mt-2 mb-1">
            <input 
                formControlName = "email"
                type="email" class="p-2 border border-gray-300 rounded" placeholder="Email addresss">
            <span *ngIf="email?.errors?.['required'] && email?.dirty" class="text-red-500">*Email is required</span>
            <span *ngIf="email?.errors?.['email']" class="text-red-500">*Email is invalid</span>
        </div>
        <div class="flex flex-col  mt-2 mb-1">
            <input
                formControlName = "password"
                type="password" class="p-2 border border-gray-300 rounded" placeholder="Password">
            <span *ngIf="password?.errors?.['required'] && password?.dirty" class="text-red-500">*Password is required</span>
        </div>
        <button class="bg-indigo-600 p-2 rounded mt-3 text-white">Login</button>
    </form>
    <div class="flex justify-between mt-3">
        <a routerLink="/register" class="text-indigo-600 ml-2 cursor-pointer">Register here</a>
        <a routerLink="/forgetpassword" class="text-indigo-600 ml-2 cursor-pointer">Forget Password</a>
    </div>
</div>

