<div class="lg: w-2/6 p-10 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">Forget password</h3>
    <form [formGroup]="form" (ngSubmit)="submit()"  class="flex flex-col">
        <div class="flex flex-col  mt-2 mb-1">
            <span class="mb-3">Input email address and we will send intructions to reset password</span>
            <input 
                formControlName = "email"
                type="email" class="p-2 border border-gray-300 rounded" placeholder="Email addresss">
            <span *ngIf="email?.errors?.['required'] && email?.dirty" class="text-red-500">*Email is required</span>
            <span *ngIf="email?.errors?.['email']" class="text-red-500">*Email is invalid</span>
        </div>
        <button class="bg-indigo-600 p-2 rounded mt-3 text-white">Submit</button>
    </form>
</div>


